html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body{
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
}

/* NAV-BAR */

#navbar {
  overflow: hidden;
  padding: 15px 40px;
}

#navbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 16px 40px 6px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  width: 80px;
}

#navbar a:hover {
  border-bottom: solid #3f896c 6px;
}

#navbar a.active {
  border-bottom: solid #0e6c6c 6px;
}

#navbarlogo{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#navbarlogo h1{
  margin: 0;
  font-size: 12px;
  font-weight: bolder;
}

#navbar img {
  width: 40px;
  height: 48px;
  align-items: center;
}

#navbar a.signupbtn{
  padding: 16px 40px;
  margin-left: 20px;
  background-color: #0e6c6c;
  color: white;
}

section{
  justify-content: center;
  align-items: center;
}

#for100vh{
height: 100vh;
}

#aboutsection{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#containerform{
  display: flex;
  border: 2px solid #646161;
  border-radius: 10px;
  padding: 20px;
}

#pictureform{
  display: flex;
  border-radius: 8px;
  background-color: #034a4e;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  background-image: url(pictures/login/loginimg.svg);
  background-position: center;
  background-size: 54vh;
  background-repeat: no-repeat;
}

#pictureform{
  width: 420px;
  height: auto;
}

#formbox{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: auto;
}

form {
  display: flex; /* Add this */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #646161;
  padding: 40px 20px 20px 20px;
  border-radius: 10px;
  width: 298px;
}

form h2{
  margin: 0;
  font-size: 22px;
}

form p{
  font-size: 14px;
  margin-bottom: 25px;
}

form h2, p{
  text-align: center;
  align-items: center;
  justify-content: center;
}

#inp1 {
  display: flex;
  flex-wrap: wrap; /* Allow inputs to wrap to the next line if needed */
  justify-content: space-between;
  width: 100%; /* Set the width to 100% to match the width of the form */
  max-width: 600px; /* Limit the maximum width of the inputs */
  margin-bottom: 10px;
}

#inp1 input {
  flex: 1; /* Allow inputs to expand and fill the available space */
  margin-bottom: 10px; /* Add space between input rows */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

#inp1label{
  display: flex;
  flex-direction: column;
  flex: 1;
}

#inp1label label{
  font-weight: bold;
  font-size:12.5px;
  margin-left: 5px;
}

.button {
  padding: 10px;
  border: none;
  background-color: #106b6f;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}

.button:hover {
  background-color: #034a4e;
}

#fgpw {
  display: flex;
  float: left;
  margin: -15px 0 20px 4px;
  align-items: start;
  justify-content: start;
  width: -webkit-fill-available;
}

#fgpw a {
  font-size:11.5px;
  cursor: pointer;
  margin: 0; /* Remove default margin for the paragraph */
  text-decoration: none; /* Remove underline from the link */
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input{
  width: 100%;
}

.password-container img{
  position: absolute;
  cursor: pointer;
  right: 6px; /* Adjust the position as needed */
  top: 40%;
  transform: translateY(-50%);
  width: 22px;
  height: 20px;
}
