html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body{
  height: 100vh;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
}

section{
  margin-left: 280px;
  justify-content: center;
  align-items: center;
}

#for100vh{
height: 100vh;
}

.sidebar {
  position: fixed;
  padding: 30px 20px;
  left: 20px; /* Set the left position */
  top: 50%; /* Align to the vertical center */
  transform: translateY(-50%); /* Center vertically */
  margin-right: 20px;
  border-radius: 10px;
  border: solid 1px #555;
  width: 220px;
  height: 83vh;
  overflow: auto;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: space-between; /* Push items to the top and bottom */
}

#sidebartopa{
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
}

#sidebartopwimg{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 8px;
  padding: 10px;
}

#sidebartopwimg.active {
  background-color: #04AA6D;
}

#sidebartopwimg.active span {
  color: white; /* Text color for sidebartopwimg anchors when active */
}

#sidebartopwimg:hover:not(.active) {
  background-color: #047438dd;
  color: white;
}

#sidebartopwimg:not(.active):hover span {
  color: white;
}

#sidebartopwimg span{
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

#sidebartopwimg img{
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

#sidebarbottoma {
  margin-top: auto; /* Push to the bottom */
}

/* Remove margin-top for the profile box */
#profilebox {
  margin-top: 0;
}

hr{
  width: 95%;
  background-color: black;
}

#profilebox{
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 8px;
  align-items: center;
  color: black;
}

#profileimage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #04AA6D;
  font-size: 24px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
}

#namebox{
  display: flex;
  flex-direction: column;
  color: black; 
  justify-content: center;
}

#namebox h5{
  font-size: 18px;
  font-weight: bold;
}

#namebox p{
  font-size: 10px;
  font-weight: bold;
}

#namebox h5, p{
  margin: 0;
}

#aboutsection{
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 888px;
  padding: 20px 10px;
}

form h2{
  margin: 0;
  font-size: 26px;
}

form p{
  margin-bottom: 15px;
}

form h2, p{
  text-align: left;
  align-items: center;
  justify-content: center;
}

#inp1 {
  display: flex;
  flex-wrap: wrap; /* Allow inputs to wrap to the next line if needed */
  justify-content: space-between;
  width: 40%; /* Set the width to 100% to match the width of the form */
  max-width: 100%; /* Limit the maximum width of the inputs */
  margin-bottom: 10px;
  gap: 20px;
}

#inp1 input {
  flex: 1; /* Allow inputs to expand and fill the available space */
  margin-bottom: 10px; /* Add space between input rows */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

#inp1label{
  display: flex;
  flex-direction: column;
  flex: 1;
}

#inp1label label{
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: 5px;
}

button {
  width: 40%;
  padding: 15px 20px;
  border: none;
  background-color: #106b6f;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

button:hover {
  background-color: #034a4e;
}    